.body-header {
  /* header where icon and name display are */
  align-items: center;
  /* background-color: #08c4d1; */
  background-color: #e6ad00;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: flex-start;
  padding-bottom: 40px;
  color: #FFFFFF;
  width: 100%;
}

.body-header div {
  /* hexagon & 'your name' display */
  align-items: flex-end;
  color: maroon;
  display: flex;
  flex-direction: column;
  font-size: x-large;
  justify-content: center;
  position: relative;
  top: 40px;
  width: 180px;
}

.body-header div img {
  width: 100%;
}

#hex-prof {
  align-items: center;
  display: flex;
  justify-content: space-around;
}